.container {
	margin: 0 auto;
	padding: 0 20px;

	.footerBorder {
		opacity: 0.5;
		border-radius: 50%;
		border-top: 1px solid #fff;
	}

	.footerContentWrapper {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;

		@media (max-width: 480px) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	.socialMediasList {
		display: flex;
		align-items: center;
		gap: 30px;
		color: #fff;

		.socialMediasListItem {
			display: flex;
			font-size: 22px;
			cursor: pointer;

		}
	}

	.footerCopyrights {
		color: #fff;
	}
}