.navbarList {
	display: flex;
	align-items: center;
	gap: 40px;

	.navbarListItem {
		font-size: 18px;
		font-weight: 600;
		transition: .3s ease;

		&:hover {
			transition: .3s ease;
			color: #0a3ed1;
		}
	}

	.logoImage {

	}
}