.listTemplateContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.topicCourseTitle {
		font-size: 20px;
	}

	.list {
		padding-left: 20px;

		li {
			font-size: 18px;
			list-style-type: decimal;
		}
	}
}
