.container {
	.certificateImage {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		width: 800px;
		height: auto;
	}
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
