.container {
	.certificateImage {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		width: 800px;
		height: 700px;
		object-fit: contain;

		@media (max-width: 768px) {
			height: 500px;
		}
	}
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
