.container {
	text-align: center;
	margin-bottom: 90px;

	@media (max-width: 768px) {
		margin-bottom: 60px;
	}

	.title {
		font-size: 40px;
		margin-bottom: 20px;
		font-weight: 700;

		@media (max-width: 768px) {
			font-size: 30px;
		}
	}

	.subtitle {
		font-size: 30px;
		color: #4E596B;
		font-weight: 600;

		@media (max-width: 768px) {
			font-size: 25px;
		}
	}
}