.homePageWrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 120px;
	gap: 120px;

	@media (max-width: 768px) {
		gap: 60px
	}

	.homePageContainer {
		background-image: url("../../assets/images/background.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.container {
		margin: 0 auto;
	}

	.coursesContainer {
		width: 100%;
		margin: 0 auto;
	}
}
